@import '../../../variables';
@import "node_modules/progress-tracker/src/styles/progress-tracker.scss";

.progress-step.is-active .progress-marker:before {
  background-color: $danger;
}

.progress-step.is-complete .progress-marker:before {
  background-color: $primary;
}

.progress-step:not(.is-active) .progress-title {
  font-weight: 300;
}

.progress-step:not(.is-active) .progress-text {
  font-weight: 100;
  color: #777;
}
