<nav class="navbar navbar-dark navbar-expand-sm col-sm-12 mb-3" [ngSwitch]="isAuthenticated()">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/images/logo.png" width="50" height="50" alt="">
  </a>
  <button class="navbar-toggler mr-auto" type="button" (click)="isCollapsed = !isCollapsed"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/participants" (click)="isCollapsed = true">Teilnehmerlisten</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/registration" (click)="isCollapsed = true">Anmeldung</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/status" (click)="isCollapsed = true">Status</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/profile" (click)="isCollapsed = true">Profil</a>
      </li>
    </ul>
  </div>
  <div class="d-flex mr-5 position-relative">
  </div>
  <button class="btn btn-outline-danger btn-lg my-2 my-sm-0" (click)="login()"
          *ngSwitchCase="false">Login</button>
  <button class="btn btn-outline-danger btn-lg my-2 my-sm-0" (click)="logout()"
          *ngSwitchCase="true">Logout</button>
</nav>
