/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr-bs4-alert";

html, body {
  height: 100vh;
}

.toast-top-right {
  top: 90px;
}

@include media-breakpoint-down(sm) {
  .w-100-sm {
    width: 100% !important;
  }
  // Mobile fix
  app-participants, app-state{
    width: 100% !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}
