<div class="d-flex flex-column align-items-center text-center">
  <h1>Willkommen!</h1>
  <p>Melde dich jetzt für den Stauseepokal 2020 an.</p>
  <ngb-carousel class="col-lg-6 col-md-10 col-sm-12 mb-3">
    <ng-template ngbSlide *ngFor="let image of images">
      <img class="img-fluid" [src]="image" alt="{{image}}"/>
    </ng-template>
  </ngb-carousel>
  <p>Wir feiern unser 25. Jubiläum!</p>
  <button type="button" class="btn btn-lg btn-primary" routerLink="/registration">Feier mit uns</button>
</div>
